    @media (max-width: 360px) {
        .float-child {
            width: 100%;
        }
        .float-child1 {
            width: 100%;
        }
        .float-child2 {
            width: 100%;
        }
        .footer {
            width: 100%;
        }
        body {}
        header h1 {
            margin-left: 44px;
            margin-right: 44px;
        }
        .slogan1 {
            padding-top: 5vh;
        }
        #contact {
            margin-bottom: 10vh;
        }
        #brands {
            width: 100%;
            background-size: cover;
            position: relative;
        }
        .grid-item img {
            width: 70%;
            height: auto;
        }
    }
    
    @media (max-width: 600px) {
        .grid-item img {
            width: 90%;
            height: auto;
        }
    }
    
    @media (max-width: 500px) {
        .grid-item img {
            width: 60%;
            height: auto;
        }
    }
    
    @media (min-width: 2000px) and (min-height:750px) {
        #main {
            padding-bottom: 50vh;
        }
    }
    
    @media (min-width: 2000px) and (min-height:500px) {
        #main {
            padding-bottom: 40vh;
        }
    }
    
    @media (min-width: 2000px) and (min-height:100px) {
        #main {
            padding-bottom: 50vh;
        }
    }
    
    @media (min-width: 2000px) {
        #main {
            padding-bottom: 50vh;
        }
        #brands {
            margin-top: 285px;
        }
    }
    
    @media (max-width: 2000px) {
        #main {
            padding-bottom: 30vh;
        }
    }
    
    @media (min-width: 1800px) and (max-width: 1999px) {
        #brands {
            margin-top: 300px;
        }
    }
    
    @media (min-width: 1501px) and (max-width: 1799px) {
        #brands {
            margin-top: 285px;
        }
    }
    
    @media (max-width: 1500px) and (min-width: 1200px) {
        #brands {
            margin-top: 250px;
        }
    }
    
    @media (max-width: 1400px) and (min-width: 1200px) {
        header h1 {
            padding-right: 150px;
        }
        #main {
            padding-bottom: 40vh;
        }
    }
    
    @media (max-width: 1200px) and (min-width: 1100px) {
        header h1 {
            padding-right: 150px;
        }
        #main {
            padding-bottom: 40vh;
        }
    }
    
    @media (max-width: 1100px) and (min-width: 1079px) {
        header h1 {
            padding-right: 150px;
        }
        #main {
            padding-bottom: 45vh;
        }
    }
    
    @media (max-width: 1079px) and (min-width: 1000px) {
        header h1 {
            padding-right: 0px;
        }
        #main {
            padding-bottom: 45vh;
        }
        #brand {
            margin-top: 250px;
        }
    }
    
    @media (max-width: 1000px) {
        .float-child {
            width: 100%;
        }
        .float-child1 {
            width: 100%;
            margin-bottom: 5%;
            margin-top: 2%;
        }
        .float-address {
            align-content: center;
            width: 100%;
        }
        .float-child2 {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .footer {
            width: 100%;
        }
        body {}
        #insurance img {
            width: 100%;
            height: auto;
        }
        #vid {
            width: 100%;
            float: left;
        }
        .grid-container {
            justify-content: center;
            display: grid;
            grid-template-columns: 21vh 21vh;
        }
        .hero-image {
            width: 100%;
            height: 70%;
        }
        .slogan2 {
            padding: 10px;
        }
        #myBtn {
            font-size: 10px;
            margin-right: -20px;
            margin-bottom: -10px;
        }
        #btn {
            margin-top: 4vh;
            margin-bottom: 4vh;
        }
        #about img {
            width: 70%;
            float: none;
            margin-top: 0%;
            margin-right: 0%;
            margin-bottom: 0%;
        }
        #about {
            width: 100%;
        }
        #about p {
            font-size: 2vh;
        }
        #about div {
            margin-bottom: -100px;
        }
        #abtleft {
            width: 100%;
        }
        #abtright {
            width: 100%;
        }
        #main {
            margin-bottom: 35vh;
        }
        .slogan1 {
            font-size: 4vh;
        }
        .slogan2 {
            margin-top: -2vh;
            font-size: 2vh;
        }
        .float-container {
            border: 3px solid #fff;
            max-width: 100%;
            padding-left: 0%;
            padding-right: 0%;
            margin: auto;
        }
    }