<!-- Collection Section -->
<section id="collection" class="bgimage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row" style="border:none; ">

                    <div class="col-xs-5 col-format-text revealL">
                        <h2 class="section-heading heading">Our Collection</h2>
                        <p class="paragraphs">
                            Our brands are specially curated and each frame is chosen with the needs of our clientele in mind. Not all of our collections are featured in our online shop, we encourage you to come visit us!
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="col-lg-6 paragraphs">
                                        Tom Ford
                                        <br>Gucci
                                        <br>Salvatore Ferragamo
                                        <br>For Art’s Sake
                                        <br>Silhouette
                                        <br>Swarovski
                                        <br>Unique Design Milano
                                        <br>Lacoste
                                        <br>Carrera
                                        <br>Anacolé
                                    </div>
                                    <div class="col-lg-6 paragraphs">
                                        Saint Laurent
                                        <br>Michael Kors
                                        <br>Easyclip
                                        <br>Guess
                                        <br>Marciano
                                        <br>O&X New York
                                        <br>Tom’s
                                        <br>Converse
                                        <br>Eyelet
                                        <br>Laura Biagiotti
                                    </div>
                                </div>

                            </div>
                            <br>
                            <br>Looking for something in particular?
                            <br>Contact us and we will make every effort to find it for you.
                        </p>
                    </div>

                    <div class="col-xs-7 col-format-img revealR">
                        <img src="img/photos2/3.jpeg" style="width: 100%; height: 100%;" />
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row" style="border:none; background:white; height:210px; ">

                    <div class="col-xs-4 revealL">
                        <img src="img/photos2/5.jpg" style="width: 100%; height: 50%;" />
                    </div>

                    <div class="col-xs-4 reveal">
                        <img src="img/photos2/11.jpg" style="width: 100%; height: 100%;" />
                    </div>

                    <div class="col-xs-4 revealR">
                        <img src="img/photos2/10.jpg" style="width: 100%; height: 100%;" />
                    </div>

                </div>
            </div>


        </div>

    </div>
</section>