<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa-brands fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="https://shop.mayoptical.com/pages/returns-and-refunds" target="_blank" style="color: black;">Return Policy</a>
                    </li>
                    <li><a href="https://shop.mayoptical.com/pages/terms-of-service" target="_blank" style="color: black;">Terms of Service</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>