<!-- Review Section -->
<section id="reviews-anchor"></section>
<section id="reviews" class="bg-light-gray reveal" style="padding: 100px 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reviews</h2>
                <h3 class="section-subheading text-muted"> </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-0921614f-afcb-4a4a-88f9-80aea69ad574"></div>
            </div>
        </div>
    </div>
</section>