<!-- Services Section -->
<section id="services-anchor"></section>
<section id="services" class="bg-light-gray reveal" style="padding: 100px 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted"> </h3>
            </div>
        </div>
        <div class="row text-center services-mobile">
            <div class="col-md-4 services-text">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-fourth"></i>
                        <i class="fa fa-glasses fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">EYEWEAR</h4>
                <p class="text-muted">With hundreds of frames in store, we have the perfect pair for you - prescription eyeglasses, sunglasses (rx and non rx), safety, swimming and sports. </p>
            </div>
            <div class="col-md-4 services-text">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-fourth"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">CONTACT LENSES</h4>
                <p class="text-muted">We carry all major brands of contact lenses and provide fitting and instruction on insertion, removal and care of contacts.
                </p>
            </div>
            <div class="col-md-4 services-text">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-fourth"></i>
                        <i class="fa fa-screwdriver-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">ADJUSTMENTS</h4>
                <p class="text-muted">To serve you better, we also provide adjustments, repairs, and customizations such as nose pad implants, tinting and custom clip ons.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="row" style="border:none; ">

                    <div class="col-xs-4 revealL">
                        <img src="img/photos2/glasses2.jpg" style="width: 100%; height: 50%;" />
                    </div>

                    <div class="col-xs-4 reveal">
                        <img src="img/photos2/contacts.jpg" style="width: 100%; height: 100%;" />
                    </div>

                    <div class="col-xs-4 revealR">
                        <img src="img/photos2/dog.jpg" style="width: 100%; height: 100%;" />
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>