@media only screen and (min-width: 768px) and (max-width: 1500px) {
    #page-scroll {
        font-size: 11px;
    }
    .container {
        width: auto !important;
    }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
    .col-xs-7 {
        width: 100%;
    }
    .col-format-img {
        height: 60vh;
    }
    #about>div>div>div:nth-child(1)>div>div.col-xs-5.col-format-text.revealL.active {
        background-image: url(img/photos/20220504_MayOptical_website-7.jpg);
        background-size: cover;
    }
}

@media only screen and (min-width: 320px) {}