#portfolio>div.container {
    width: 100% !important;
}

@media only screen and (min-width: 768px) and (max-width: 1500px) {
    #page-scroll {
        font-size: 11px;
    }

    .container {
        width: auto;
    }

    .nav>li>a {
        padding-left: 8px !important;
        padding-right: 8px !important;
        font-size: 12px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
    .section-heading.heading {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    .navbar-brand {
        font-size: 39px !important;
    }

    #bs-example-navbar-collapse-1 {
        margin-bottom: 20px !important;
    }

    #bs-example-navbar-collapse-1>ul {
        margin: auto !important;
    }

    .page-scroll {
        text-align: center;
    }

    .nav>li>a {
        padding: 10px 50px !important;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #ffffff;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .navbar-toggle {
        margin-right: 0px;
    }

    .col-format-text.mobile {
        margin-bottom: 10vh;
    }

    .mobile {
        width: 100% !important;
    }

    .col-format-img {
        height: 60vh;
    }

    .col-format-text {
        height: 65vh;
    }

    .collection-img {
        margin-top: 20vh;
    }

    #insurance {
        padding-bottom: 20vh !important;
    }

    .insurance-img {
        margin-bottom: 20vh !important;
    }

    #services {
        padding-top: 100px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 100px !important;
    }

    .services-mobile {
        padding-top: 10px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        padding-bottom: 50px !important;
    }

    .services-text {
        padding-top: 20px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
    }

    #portfolio {
        padding-top: 100px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 100px !important;
    }

    #reviews {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .contact-text-mobile {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.revealL {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.reveal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.revealR {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #insurance>div>div>div>div>div.col-xs-7.col-format-img.revealL.mobile.insurance-img>img {
        margin-top: -14px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.revealL {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.reveal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.revealR {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

/*galaxy s5 360 x 640*/

@media only screen and (min-width: 360px) and (max-height: 640px) {
    #page-top>header>div {
        margin-bottom: 140px !important;
    }

    #about>div>div>div:nth-child(1)>div>div.col-xs-5.col-format-text.revealL.mobile>p {
        margin-bottom: 140px !important;
    }

    #collection>div>div:nth-child(1)>div>div>div.col-xs-5.col-format-text.revealL.mobile {
        margin-top: 180PX !important;
    }

    #collection>div>div:nth-child(1)>div>div>div.col-xs-7.col-format-img.revealR.mobile.collection-img>img {
        margin-top: 100px !important;
    }

    #insurance>div>div>div>div>div.col-xs-7.col-format-img.revealL.mobile.insurance-img.active>img {
        margin-bottom: 100PX !important;
    }

    #collection>div>div:nth-child(2)>div {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.revealL {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.reveal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.revealR {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #insurance>div>div>div>div>div.col-xs-7.col-format-img.revealL.mobile.insurance-img>img {
        margin-top: -14px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.revealL {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.reveal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.revealR {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

/*nexus 5x*/

@media only screen and (min-width: 412px) and (max-height: 732px) {
    #page-top>header>div {
        margin-bottom: 140px !important;
    }

    #about>div>div>div:nth-child(1)>div>div.col-xs-5.col-format-text.revealL.mobile>p {
        margin-bottom: 140px !important;
    }

    #collection>div>div:nth-child(1)>div>div>div.col-xs-5.col-format-text.revealL.mobile {
        margin-top: 180PX !important;
    }

    #collection>div>div:nth-child(1)>div>div>div.col-xs-7.col-format-img.revealR.mobile.collection-img>img {
        margin-top: 100px !important;
    }

    #insurance>div>div>div>div>div.col-xs-7.col-format-img.revealL.mobile.insurance-img.active>img {
        margin-bottom: 100PX !important;
    }

    #collection>div>div:nth-child(2)>div {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.revealL {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.reveal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.revealR {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #insurance>div>div>div>div>div.col-xs-7.col-format-img.revealL.mobile.insurance-img>img {
        margin-top: -14px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.revealL {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.reveal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.revealR {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media only screen and (min-width: 360px) and (max-height: 740px) {
    #page-top>header>div {
        margin-bottom: 140px !important;
    }

    #about>div>div>div:nth-child(1)>div>div.col-xs-5.col-format-text.revealL.mobile>p {
        margin-bottom: 140px !important;
    }

    #collection>div>div:nth-child(1)>div>div>div.col-xs-5.col-format-text.revealL.mobile {
        margin-top: 180PX !important;
    }

    #collection>div>div:nth-child(1)>div>div>div.col-xs-7.col-format-img.revealR.mobile.collection-img>img {
        margin-top: 100px !important;
    }

    #insurance>div>div>div>div>div.col-xs-7.col-format-img.revealL.mobile.insurance-img.active>img {
        margin-bottom: 100PX !important;
    }

    #collection>div>div:nth-child(2)>div {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.revealL {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.reveal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.revealR {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #insurance>div>div>div>div>div.col-xs-7.col-format-img.revealL.mobile.insurance-img>img {
        margin-top: -14px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.revealL {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.reveal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.revealR {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media only screen and (min-width: 1px) and (max-height: 569px) {
    .section-heading.heading {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    .navbar-brand {
        font-size: 30px !important;
    }

    #about>div>div>div:nth-child(1)>div>div.col-xs-5.col-format-text.revealL.mobile {
        margin-bottom: 300px !important;
    }

    #about>div>div>div:nth-child(1)>div>div.col-xs-5.col-format-text.revealL.mobile>h2 {
        margin-top: 300px !important;
    }

    #collection>div>div:nth-child(1)>div>div>div.col-xs-5.col-format-text.revealL.mobile>h2 {
        margin-top: 500px !important;
    }

    #collection>div>div:nth-child(1)>div>div>div.col-xs-7.col-format-img.revealR.mobile.collection-img>img {
        margin-top: 650px !important;
    }

    #collection>div>div:nth-child(2)>div>div {
        margin-top: 260px !important;
    }

    #bs-example-navbar-collapse-1 {
        margin-bottom: 20px !important;
    }

    #bs-example-navbar-collapse-1>ul {
        margin: auto !important;
    }

    .page-scroll {
        text-align: center;
    }

    #page-top>nav>div>div:nth-child(2) {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }

    .nav>li>a {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #ffffff;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .navbar-toggle {
        margin-right: 0px;
    }

    .col-format-text.mobile {
        margin-bottom: 10vh;
    }

    .mobile {
        width: 100% !important;
    }

    .col-format-img {
        height: 60vh;
    }

    .col-format-text {
        height: 65vh;
    }

    .collection-img {
        margin-top: 20vh;
    }

    #insurance {
        padding-bottom: 20vh !important;
    }

    .insurance-img {
        margin-bottom: 20vh !important;
    }

    #services {
        margin-top: 200px !important;
        padding-top: 50px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 100px !important;
    }

    .services-mobile {
        padding-top: 10px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        padding-bottom: 50px !important;
    }

    .services-text {
        padding-top: 20px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
    }

    #portfolio {
        padding-top: 100px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 100px !important;
    }

    #reviews {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .contact-text-mobile {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.revealL {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.reveal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #collection>div>div:nth-child(2)>div>div>div.col-xs-4.revealR {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #insurance>div>div>div>div>div.col-xs-7.col-format-img.revealL.mobile.insurance-img>img {
        margin-top: -110px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.revealL {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.reveal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #services>div>div:nth-child(3)>div>div>div.col-xs-4.revealR {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #insurance>div>div>div>div>div.col-xs-5.col-format-text.revealR.mobile>h2 {
        margin-top: 200px !important;
    }
}